# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias
node_modules

# Producción
dist
dist-ssr

# Entornos y SO
.env
.local
.DS_Store

# Editores (VS Code, Visual Studio, etc)
.vscode/*
!.vscode/extensions.json
.idea
.vs/
*.suo
*.user
*.ntvs*
*.njsproj
*.sln
*.sw?